<div class="navbar-basic">
  <%= link_to root_path, class: "navbar-basic-brand" do %>
    <%= image_tag 'https://picsum.photos/200/200', alt: 'logo' %>
  <% end %>

  <div class="navbar-basic-item">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-basic-dropdown-menu">
        <li><%= link_to 'Preferences', '#' %></li>
        <li><%= link_to 'Trips', '#' %></li>
        <li><%= link_to 'Log Out', '#' %></li>
      </ul>
    </div>
  </div>
</div>
